<h1>My journeys</h1>
<ul class="journeys">
    <li id="stats" class="journey">
    </li>
    <li class="journey">
        <h2>
            WC2 4AT &#8594; NW2 4NS
            <div class="score score--emissions">6</div>
            <div class="score score--exposure">8</div>
        </h2>
    </li>
    <li class="journey">
        <h2>
            N1 9GU &#8594; WC2 4AT
            <div class="score score--emissions">6</div>
            <div class="score score--exposure">8</div>
        </h2>
    </li>
    <li class="journey">
        <h2>
            E2 7LJ &#8594; N1 9GU
            <div class="score score--emissions">6</div>
            <div class="score score--exposure">8</div>
        </h2>
    </li>
</ul>

