<div class="row">
    <div class="col-md-6">
        <div class="row home-top">
            <div class="col-xs-6">
                <h2>Exposure</h2>
                <div class="score score--exposure" data-NO2="5" data-PM25="28" data-PM10="18" data-SO2="23">9081</div>
            </div>
            <div class="col-xs-6">
                <h2>Emissions</h2>
                <div class="score score--emissions" data-NO2="12" data-PM25="20" data-PM10="13" data-SO2="27">1203</div>
            </div>
        </div>
        <div class="row">
            <h2>Groups <img class="group-img" src="/assets/img/group.png" /></h2>
            <p>The Guardian (104 members)</p>
            <p>Data science (15 members)</p>
        </div>
    </div>
    <div class="col-md-6">
        <h2>London board</h2>
        <ul class="rankings">
            <li class="ranking">
                <div class="ranking__no">1</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Rozzie</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">2</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Tamar</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">3</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Alice</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">4</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-down"></i></div>
                <div class="ranking__name">Will</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">4</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Amy</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">6</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Sebastien</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">7</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Stephan</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">8</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Jordon</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">9</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Carlos</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">9</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-down"></i></div>
                <div class="ranking__name">Kate Moss</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">10</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Boris Johnson</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">11</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-down"></i></div>
                <div class="ranking__name">John</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">12</div>
                <div class="ranking__name">David</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">13</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Matthew</div>
            </li>
            <li class="ranking">
                <div class="ranking__no">14</div>
                <div class="ranking__arrow"><i class="glyphicon glyphicon-arrow-up"></i></div>
                <div class="ranking__name">Tobias</div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <h2>Challenges</h2>
    <ul id="challenges"></ul>
</div>
